* {

 margin: 0px;

}


#header {

  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
 "me nav";
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
.motavcontainer {
  padding: 0;
  display: grid;
  grid-template-columns: 500px 300px 1000px  ;
  grid-template-rows:100px 1fr 1fr;
  grid-template-areas:
  "avatar about motivation"
  " avatar about  motivation";
              
}



.header {
  grid-area: header;
  align-items: center;
  justify-items: end;
  background-color: rgb(68, 68, 68);
  height: 80px;
}


#me{
  grid-area: me;
background-color: rgb(146, 207, 187);
}

#about{
grid-area: about;
font-size: 38px;
font-style: normal;
}

#nav {
  grid-area: nav;
  font-size: larger;
  color: rgb(69, 207, 207);
}

a{
  color: rgb(99, 211, 173);
}

.hero-banner{
  grid-area:  hero-banner;
  display: grid;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
 height: 160px;
 align-content:flex-end;
 justify-content: end;
 font-size: larger;
}
h2{
  background-color: rgb(146, 207, 187);
  margin: 20px;
  font-size: 42px;
}

.page-section{ 
  grid-area: page-section ; 
} 

#avatar{
  grid-area: avatar;
  size-adjust: 500px;
}

#prework{
  grid-area: prework;
}

#webarchitect{
  grid-area: webarchitect;
}

#landing{
  grid-area: landing;
}

#horiseon{
  grid-area: horiseon;
}

#getting-pro{
  grid-area:getting-pro ;
}
#motivation{
  grid-area: motivation;
  margin-top: 20px;

}

#
h1{
  
},
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
