* {

  margin: 0px;

}


#header {

  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "me nav";
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.header {
  grid-area: header;
  align-items: center;
  justify-items: end;
  background-color: rgb(68, 68, 68);
  height: 80px;
}

.motavcontainer {
  padding: 0;
  display: grid;
  grid-template-columns: 500px 200px 1000px;
  grid-template-rows: 200px auto 100px;
  grid-template-areas:
    "avatar about motivation"
    "avatar about  motivation";
}

#me {
  grid-area: me;
  background-color: rgb(146, 207, 187);
  display: flex;
  justify-self: flex-start;
}

#about {
  grid-area: about;
  font-size: 38px;
  margin-top: 50px;
  border-right: 5px solid rgb(110, 110, 158);
  margin-right: 20px;
}

#nav {
  grid-area: nav;
  font-size: larger;
  color: rgb(69, 207, 207);
}

a {
  color: rgb(99, 211, 173);
}

.hero-banner {
  grid-area: hero-banner;
  display: grid;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  height: 160px;
  align-content: flex-end;
  justify-content: end;
  font-size: larger;
}

.app-section {
  margin-right: 20px;

background-color: azure;
grid-column-gap: 5px;
grid-row-gap: 5px;
  display: grid;
  grid-template-columns: 550px 200px 500px 500px ;
  grid-template-rows:300px 100px 100px ;
  grid-template-areas:"none abwork prework prework"
                       "none abwork webarchitect landing"
                       "none abwork horiseon getting-pro";
                       
}
#contact {
  display: grid;
  min-height: 200px;
  align-items: center;
  justify-items: center;
  grid-template-columns: 500px 200px auto;
grid-template-areas: " none cm contact-me";
}

h2 {
  background-color: rgb(146, 207, 187);
  margin: 20px;
  font-size: 42px;
}

.page-section {
  grid-area: page-section;
}

#avatar {
  grid-area: avatar;
  size-adjust: 500px;
}

#abwork{
  grid-area: abwork;
  font-size: 38px;
  border-right: 5px solid rgb(110, 110, 158);
  margin-right: 80px;
  
}


#prework {
  grid-area: prework;
  border: 5px solid rgb(98, 206, 156);
  display: grid;
  align-items: flex-end;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  padding: 20px;
  background-image: url(../images/02-portfolio-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}


#webarchitect {
  grid-area: webarchitect;
  display: grid;
  align-items: center;
  border: 5px solid rgb(98, 206, 156);
  background-image: url(../images/02-portfolio-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  padding: 20px;
  color: white;
}

#landing {
  grid-area: landing;
  display: grid;
  align-items: center;
  border: 5px solid rgb(98, 206, 156);
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  padding: 20px;
  color: white;

}

#horiseon {
  grid-area: horiseon;
  display: grid;
  align-items: center;
  border: 5px solid rgb(98, 206, 156);
  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  padding: 20px;
  color: white;

}

#getting-pro{
  grid-area: getting-pro;
  display: grid;
  align-items: center;
  border: 5px solid rgb(98, 206, 156);
  background-image: url(../images/02-run-buddy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  padding: 20px;
  color: white;
}

.app-section a{
  color: green;
}

#motivation {
  grid-area: motivation;
  margin-top: 50px;
  padding: 20px;

}

.page-wrapper {
  background-color: azure;
}


#cm {
  grid-area: cm;
  font-size: 38px;
  border-right: 5px solid rgb(110, 110, 158);
margin-right: 25px;
}

#contact-me{
  grid-area: contact-me;
font-size: 22px;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}